@import "tailwindcss";

@font-face {
  font-family: "Neutra Text";
  src: url("./assets/fonts/neutra-text-alt-587261020eccb.otf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Neutra Text", sans-serif;
}
